.ready_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../../public/Assets/images/scandish_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
  color: #322700;
}
.desc {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-align: center;
  color: #322700;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 123px;
  background-color: #fe562a;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
}
